<div class="hero">
  <div class="panel card">
<div class="library-brand">
        <img src="favicon.svg" alt="Rahul Library Logo" class="library-logo">
        <h1>राहुल सार्व. वाचनालय</h1>
      </div>
      <a href="/library-3d" class="info-btn" title="Library Info">
        <i class="pi pi-info-circle"></i>
      </a>
    <form (ngSubmit)="submit()">
      <label class="field">
        <span>Username</span>
        <input
          class="form-control"
          placeholder="Enter username"
          name="username"
          [(ngModel)]="username"
          autocomplete="username"
          required
        >
      </label>

      <label class="field">
        <span>Password</span>

        <p-password
          [(ngModel)]="password"
          name="password"
          [toggleMask]="true"
          placeholder="Enter password"
          autocomplete="current-password"
          [feedback]="false"
          styleClass="form-password"
          required
        ></p-password>
      </label>
      <p class="error" *ngIf="error">
        {{ error }}
      </p>
      <button
        class="btn"
        type="submit"
        [disabled]="loading">
        {{ loading ? 'Logging in…' : 'Log in' }}
      </button>
    </form>
<!--    <p class="register-link">-->
<!--      Don't have an account?-->
<!--      <a routerLink="/register">Register as Student</a>-->
<!--    </p>-->
  </div>
</div>
